{{#with pokemon}}
<ul>
    <li>Nome do pokemon: {{name }}</li>
    <li>Tipo do pokemon: {{type }}</li>
    <li>Nivel do pokemon: {{nivel }}</li>
    <li>Evolução do pokemon: {{evolucao }}</li>
    <li>{{amizade }}</li>
</ul>
{{/with}}
<p><a href="/">Clique aqui</a> Para voltar para a Home</p>